fastapi
uvicorn[standard]
pydantic
GitPython
tree-sitter==0.22.3
tree-sitter-python==0.23.2
networkx
supabase
sentence-transformers
python-dotenv
langchain
langchain-google-genai
langchain-community
google-genai
watchfiles
pytest
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-go
tree-sitter-java
tree-sitter-rust
tree-sitter-c
tree-sitter-cpp
tree-sitter-ruby
radon
celery[redis]
redis
slowapi
