fastapi
uvicorn[standard]
pydantic
GitPython
tree-sitter==0.22.3
tree-sitter-python==0.23.2
networkx
supabase
sentence-transformers
python-dotenv
langchain
langchain-google-genai
langchain-community
google-genai
watchfiles
pytest
